<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>My first Django project</h1>
    {% for i in profile %}
        <h1>{{ i.name }}</h1>
        <h3>{{ i.age }}</h3>
        <h4>{{ i.adress }}</h4>
        <img src="{{ i.image.url }}" alt="Image">
        <hr>
    {% endfor %}
</body>
</html>